/* animaiton */
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}



/* new/converting to */
.background{
  width: 100%;
  height: 100%;
  

  padding-top: 8%;
  padding-bottom: 50px;

  
}

input{
  color:white;
  background: rgba(255, 255, 255, 0.3);

  outline: none;
  margin: 0 auto;

  padding-left: 0px;
  text-align: left;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
}
input::placeholder{
  color: rgba(255,255,255,0.7);
  
}

select{
  color: white;
  background: rgba(255, 255, 255, 0.3);
}
option{
  background: grey;
}





.button {
  background-color: rgba(255, 255, 255, 0.2); /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-next {
  border-radius: 50%;
}
.button-prev {
  border-radius: 50%;
}
.button-push{
  border-radius: 10px;
}
.submit-button{
  padding-top: 30px;

}

.left-button{
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 50%; left: 0; bottom: 0; right: 40%;
}
.right-button{
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 50%; left: 0; bottom: 0; right: 40%;
}

.center-form{
  text-align: center;
}

body {
  background-position: center;
  background-image: url("../../Assets/background_blurred.png") ;
  background-attachment: fixed;
}
.centering-container {

  margin: auto;

  width: 80%;
  padding: 10% 10%;
  padding-left: 10%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  
  /* text */
  color: white;
  

  /* top:10%;
  bottom: 10%;
  left: 100px;
  right: 100px;
  width: 600px;
  margin: auto;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.6); */
}

.main-content{
  
  color: white;
}





/* old */

.show{
    color: red,
}

.hide-page{
  display: none;
}

.hide{
    visibility: hidden;
}

.underlineText{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
