/* animaiton */
.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.page-6 input {
  padding: 0;
  margin: 0;
}
.page-6 label {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 1.0 rem;
}
/* new/converting to */
.background{
  width: 100%;
  height: 100%;
  

  padding-top: 5%;
  padding-bottom: 50px;
  text-align: center;

  
}

input{
  color:white;
  background: rgba(255, 255, 255, 0.3);

  outline: none;
  margin: 0 auto;

  padding-left: 0px;
  text-align: left;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
}
input::placeholder{
  color: rgba(255,255,255,0.7);
  
}

select{
  color: white;
  background: rgba(255, 255, 255, 0.3);
}
option{
  background: grey;
}

div.col-1{
  padding:0 ;
  text-align: center;
}

div.noMargin {
  margin-left: 0;
  margin-right: 0;
}




.button {
  background-color: rgba(255, 255, 255, 0.3); /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-next {
  color:white;
  font-size: 14px;
  border-radius: 50%;
  position: relative;
  top:90%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 20px;
}
.button-prev {
  color:white;
  font-size: 14px;
  border-radius: 50%;
  position: relative;
  top:90%;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}
.button-push{
  border-radius: 10px;
}
.submit-button{
  padding-top: 30px;

}

form{
  display: inline-block;
}

/* all label under center-form text lef */
.center-form label{
  float:left;
  padding-right: 5px !important;
}

.center-form input{
  padding-left: 5px;
}

.center-form .label-input-left{
  text-align: left;
}

.label-input-left .checkbox{
  width:50%;
  padding-left:50px;
}



.center-form{
  font-size: 17px;
  text-align: center;
  position: relative;
}
div.CenterFormRow.col-1{
  position: relative;
  text-align: center;

}

body {
  background-position: center;
  background-image: url("../../Assets/background_blurred.png") ;
  background-attachment: fixed;
}
.centering-container {

  margin: auto;

  width: 90%;
  padding: 5%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.2);
  
  /* text */
  color: white;
  text-align: center;

}

.main-content{
  
  color: white;
}





/* old */

.show{
    color: red,
}

.hide-page{
  display: none;
}

.hide{
    visibility: hidden;
}

.underlineText{
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
/* arrow buttons */
i {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}